<div class="outer" >

    
    <article >
    
        <h2>ENTREPRENEUR!</h2>
    
        <p>An entrepreneur is an individual who creates a new business, bearing most of the risks and enjoying most of the rewards. The process of setting up a business is known as entrepreneurship. The entrepreneur is commonly seen as an innovator, a source of new ideas, goods, services, and business/or procedures.</p>
    
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSXiAuZRQv2mqKX5CuTXzgO1DMZSkp1DnjtQ&usqp=CAU" class="editorial-image-right">
    
        <p>Entrepreneurs play a key role in any economy, using the skills and initiative necessary to anticipate needs and bring good new ideas to market. Entrepreneurship that proves to be successful in taking on the risks of creating a startup is rewarded with profits, fame, and continued growth opportunities. Entrepreneurship that fails results in losses and less prevalence in the markets for those involved.</p>
    
        <p>Entrepreneurship is one of the resources economists categorize as integral to production, the other three being land/natural resources, labor, and capital. An entrepreneur combines the first three of these to manufacture goods or provide services. They typically create a business plan, hire labor, acquire resources and financing, and provide leadership and management for the business.</p>
    
      
       
    
        <h2>How to Become an Entrepreneur</h2>
    
        <p>After retiring her professional dancing shoes, Judi Sheppard Missett became an entrepreneur by teaching a dance class to civilians in order to earn some extra cash. But she soon learned that women who came to her studio were less interested in learning precise steps than they were in losing weight and toning up. Sheppard Missett then trained instructors to teach her routines to the masses, and Jazzercise was born. A franchise deal followed. Today, the company has more than 8,300 locations worldwide.</p>
    
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh5Ik5Utnp6z9zxses-6hFqpWivP2vdFsLGlnpFSG0l_1BfXFnkIZdAgZRTxSWkhQIxCE&usqp=CAU" class="editorial-image-left">
    
        
        <p>
            
            <li>Types of  Entrepreneur </li>
            <li>Builder </li>
            <li>Opportunist </li>
            <li>Innovator
            </li>
            <li>Specialist
            </li>
            
        </p>

        
       
    
    
        <p>
            <span><b>Builder</b></span> <br>
            
            Builders seek to create scalable businesses within a short time frame. Builders typically pass $5 million in revenue in the first two to four years and continue to build up until $100 million or beyond. These individuals seek to build out a strong infrastructure by hiring the best talent and seeking the best investors. They have temperamental personalities that are suited to the fast growth they desire but can make personal and business relationships difficult.</p>
    
        <p>
            <span><b>Opportunist</b></span> <br>
            Opportunistic entrepreneurs are optimistic individuals with the ability to pick out financial opportunities, get in at the right time, stay on board during the time of growth, and exit when a business hits its peak.

            These types of entrepreneurs are concerned with profits and the wealth they will build, so they are attracted to ideas where they can create residual or renewal income. Because they are looking to find well-timed opportunities, opportunistic entrepreneurs can be impulsive.</p>
    
        <img src="https://media.istockphoto.com/vectors/entrepreneur-concept-illustration-vector-id977730672?k=20&m=977730672&s=612x612&w=0&h=ZVcB_GFH8otomf5gtW3G28GXilyfy_u_eU1jN-PDHJg=" class="image-center">
    
        <p>
            <span><b>Innovator</b></span> <br>
            Innovators are those rare individuals that come up with a great idea or product that no one has thought of before. Think of Thomas Edison, Steve Jobs, and Mark Zuckerberg. These individuals worked on what they loved and found business opportunities through that.

Rather than focusing on money, innovators care more about the impact that their products and services have on society. These individuals are not the best at running a business as they are idea-generating individuals, so often they leave the day-to-day operations to those more capable in that respect.</p>
    
        <p>
            <span><b>Specialist</b></span> <br>
            These individuals are analytical and risk-averse. They have a strong skill set in a specific area obtained through education or apprenticeship. A specialist entrepreneur will build out their business through networking and referrals, resulting in slower growth than a builder entrepreneur.</p>
    
        
          
           
        
    </article>
    
</div>
 